<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Primitives" version="1.0.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net462" />
  <package id="Sitecore.Framework.Conditions" version="1.1.6" targetFramework="net462" />
  <package id="Sitecore.XConnect.Client.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Collection.Model.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Search.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Xdb.Common.Web.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="System.Interactive.Async" version="3.2.0" targetFramework="net462" />
  <package id="System.Interactive.Async.Providers" version="3.2.0" targetFramework="net462" />
  <package id="System.Linq" version="4.1.0" targetFramework="net462" />
  <package id="System.Net.Http" version="2.0.20126.16343" targetFramework="net462" />
  <package id="System.Net.Http.Formatting.Extension" version="5.2.3.0" targetFramework="net462" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net462" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net462" />
</packages>