@using Sitecore.XConnect.Collection.Model
@using XConnectPOC.Analytics.Services
@using XConnectPOC.Collection.Model.Facets

@{
    var email = HttpContext.Current.Request.QueryString["email"];
    string message = string.Empty;
    if (!string.IsNullOrEmpty(email))
    {
        Sitecore.Analytics.Tracker.Current.Session.IdentifyAs("Website", email);

        XConnectPOC.Analytics.Services.XConnectClient client = new XConnectClient(Sitecore.Analytics.Tracker.Current.Contact);

        var fn = HttpContext.Current.Request.QueryString["fn"];
        var ln = HttpContext.Current.Request.QueryString["ln"];

        if (!string.IsNullOrEmpty(fn) || !string.IsNullOrEmpty(ln))
        {
            var personalInforamtion = new PersonalInformation
            {
                FirstName = fn,
                LastName = ln
            };

            client.SetFacet<PersonalInformation>(personalInforamtion, PersonalInformation.DefaultFacetKey);
        }

        var bi = HttpContext.Current.Request.QueryString["industry"];
        if (!string.IsNullOrEmpty(bi))
        {
            bi = bi.ToLower();
            var industries = new Dictionary<string, string>
            {
                { "automobile", "{8A015E36-F9A4-4F2D-A33E-D27979EB03B9}" },
                { "entertainment", "{962E01FC-76A2-4A28-A20B-DC4367BE2BA0}" },
                { "finance", "{92BD944A-C5AA-421D-9A09-24498CD1559E}" }
            };

            if (industries.ContainsKey(bi))
            {
                bi = industries[bi];

                client.SetFacet<BusinessIndustry>(new BusinessIndustry
                {
                    Id = Guid.Parse(bi)
                }, BusinessIndustry.DefaultFacetKey);
            }
        }

        var emailAddressList = new EmailAddressList(new EmailAddress(email, true), "Website");

        client.SetFacet<EmailAddressList>(emailAddressList, EmailAddressList.DefaultFacetKey).Submit();

        message = email;
    }
}
<h1>
@message is now registered.
</h1>