<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <xconnect>
      <runtime type="Sitecore.XConnect.Client.Configuration.RuntimeModelConfiguration,Sitecore.XConnect.Client.Configuration">
        <schemas hint="list:AddModelConfiguration">
          <schema name="MySiteCollectionModel" type="Sitecore.XConnect.Client.Configuration.StaticModelConfiguration,Sitecore.XConnect.Client.Configuration">
            <param desc="modeltype">XConnectPOC.Collection.Model.CollectionModel.MySiteCollectionModel, XConnectPOC.Collection.Model</param>
          </schema>
        </schemas>
      </runtime>
    </xconnect>
    <dataAdapterManager>
      <providers>
        <clear />
        <add name="xconnect">
          <facets>
            <facet facetKey="MySite.Facet.BusinessIndustry" />
          </facets>
        </add>
      </providers>
    </dataAdapterManager>
  </sitecore>
</configuration>